@font-face {
  font-family: good;
  src: url(/good_timing/good\ timing\ bd.ttf) format('truetype');
}
@font-face {
  font-family: falcon;
  src: url(/falcon_punch/falconpunch.ttf) format('truetype');
}
@font-face {
  font-family: daniel;
  src: url(/daniel_davis/Daniel\ Davis.otf) format('opentype');
}
@font-face {
  font-family: cout;
  src: url(/couture/couture-bld.otf) format('opentype');
}
@font-face {
  font-family: hello;
  src: url(/hello_vintage_2/Hello\ Vintage.otf) format('opentype');
}
@font-face {
  font-family: marlie;
  src: url(/curly_marlie/Tahu!.ttf) format('truetype');
}
@font-face {
  font-family: moly;
  src: url(/ceremony/Ceremony.ttf) format('truetype');
}

html{
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background-image: linear-gradient(to bottom,#84BCFA, #B791FA, #F993CF, #FADDAA, #80FA78);
  overflow-x: hidden;
  }

.panel {
  position: relative;
  height: 100%;
  z-index: 8;
  }
  .panel-fixed {
      z-index: 1;
      }
  .panel-inner {
      padding: 1em;
      width: 100%;
      }
      .panel-fixed .panel-inner {
          position: fixed;
          top: 0;
          z-index: 2;
          }



.panel-verde {
    background-color:#18ff24;
    }
.panel-rosa {
      background-color:#E0007C;
}
.panel-vermelho{
  background-color: #941400;
}

.panel-amarelo {
    background-color: #DBC12A;
    }
.panel-blue {
  background-color: #00348d;
  color: white;
  }



#verde{
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin-top: 50px;
    animation: bola 6s linear infinite;
}
  #vermelho{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 450px;
    animation: bola 6s linear infinite;

  }



  #amarelo{
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 0;
    margin-bottom: 420px;
    margin-right: 450px;
    animation: bola 6s linear infinite;

  }

  #rosa{
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    margin-left: -80px;
    border-radius: 50%;
    margin-bottom: 400px;
    animation: bola 6s linear infinite;
  }
  @keyframes bola{
    0%{
      transform: scale(1);}
    50%{
      transform: scale(2);}
    100%{
      transform: scale(1);}
  }



  #laranja{
    width: 400px;
    height: 400px;
    position: absolute;
    margin-right: -80px;
    margin-bottom: 400px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    animation: bola 6s linear infinite;

  }


  #azulclaro{
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    animation: bola 6s linear infinite;
  }
  #logo{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    margin-top: -560px;
    padding: 40px;
    animation: logotipo 4s linear infinite;
  }
  @keyframes logotipo{
    0%{
      transform: scale(1);}
    50%{
      transform: scale(1.15);}
    100%{
      transform: scale(1);}
  }



#menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  }

nav{
  background-color: #6c88e3;
  display: flex;
}

.menutit{
  margin: 2px 2px 2px -2px;
  padding: 8px;
  border-right: 2px solid black;
  font-size: 18px;
}
.menua{
  text-decoration: none;
  color: #e1d9f6;
  position: relative;
}
.menua:after{
  content: '';
  position: absolute;
  background-color: #36369c;
  height: 4px;
  width: 0;
  right:0;
  bottom: -8px;
  transition: 0.3s;
}
.menua:hover{
  color: white
}
.menua:hover:after{

  width: 100%;;
}






.footer{
  margin-top: 20vh;
  font-family: 'good', sans-serif;
  margin-bottom: 80px;
  font-size: 45px;
  letter-spacing: 4px;


}
.textofooter{
  font-family: 'falcon', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;

}
.email{
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(232, 234, 255);
  background-color: #71979a42;
  border-radius: 20px;
  font-size: 22px;
  padding: 10px;
}
.email:hover{
  background-color: white;
  color: #100882;
}
.decoremail{
  margin: 80px;
}

#contatos{
  display: flex;
  flex-wrap: wrap;
}
.links{
  text-decoration: none;
  color:#040036;
  letter-spacing: 2px;

}
.linkdecor{
  font-family: 'good', sans-serif;
  background-color:  #6fb2ff;
  border-radius: 5px;
  padding: 8px;
  margin-left: 10px;
}
.linkdecor:hover{
  background-color: #ffffff;
}






.about{
  max-width: 600px;
}

.complete {
  margin-top: 5vh;
  margin-left: 30px;
  font-size: 90px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(7) infinite alternate,
    blink 2000ms steps(7) infinite normal;
  border-right: 5px solid black;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 47%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}



.imagem{
  width: 200px;
}
.imagem1{
  width: 220px;
}

.imagemc{
  width: 400px;
  padding: 20px;
}